<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar-user.ejs') %>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Guia de Estudos</h1>
            <p class="lead">Tire suas duvidas com nossos artigos de Programadores.</p>
            <hr class="my-4">
            <p>O blog é para achar respostas e ver atualizações de tecnologias.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
              <a class="btn btn-primary btn-lg" href="/admin/users/create" role="button">Cadastre-se</a>
            </p>
          </div>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success"> Ler Artigo</a>
                </div>
            </div>
            <br>
       <% }) %>
       <div class="row">
            <div class="col col-12" style="padding-bottom: 2em;">
                <a style="float: right;" href="/articles/page/2">Next >>></a>
            </div>
            

       </div>
    </div>

</body>

<%- include ('partials/footer.ejs') %>