<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card-header">
        <h2>Administradores</h2>
        <a href="/admin/users/create" class="btn btn-success">Criar nova categoria</a>
        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <th><%= user.email %></th>
                   
                    <th>
                        <a href="/admin/users/edit/<%= user.id %>" class="btn btn-warning">Editar</a>

                        <form action="/admin/users/delete" method="post" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                        
                    </th>
                </tr>
            <% }) %>

        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs') %>